
    body{
        background-color:rgb(98, 5, 138);
        display:flex;
        justify-content: center;
        align-items: center;
}
.grid{
    width:700px;
    height:700px;
    display:grid;
    background-color: rgb(11, 11, 11);
    grid-template-columns: repeat( 5, 1fr);
    grid-template-rows: repeat(6 , 1fr);
    grid-gap:15px;
    background-position: center;
    


}
.grid > div{
    background-size: cover;
    background-repeat: no-repeat;
}
.medium{
    background-image: url(images/dim-hou-93AcQpzcASE-unsplash.jpg);
grid-column:span 2;
grid-row:span 2;
}
.big{
    background-image:url(images/ilse-orsel-vmFEBIEz0hQ-unsplash.jpg);
   grid-column : 3 / span 3;
   grid-row: span 3;

}
.small{
    background-image: url(images/ilse-orsel-vmFEBIEz0hQ-unsplash.jpg);
 grid-row: 4 /span 1;
 grid-column:3 /span 1;

 
}
.large{
    background-image: url(images/the-lucky-neko-tUTlUel_Nvs-unsplash.jpg);
   grid-column:span 3;
   grid-row: 5/span 2;
}

.medium2{
    background-image: url(images/sam-chang-5-ckjYvTZQw-unsplash.jpg);
grid-column:span 2;
grid-row:3 /span 2;
}
.tall{
    background-image: url(images/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg);
    grid-row: 4/span 3;
    grid-column: 4/span 2;
}


